@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    background: linear-gradient(to top, rgb(210, 197, 178), rgb(180, 170, 150));
    color: rgb(21, 74, 5);
    font-family: raleway, sans-serif;
    font-weight: 400;
}

header {
    background-color: rgb(45, 37, 8);
    color: rgb(36, 122, 10);
    padding: 2rem;
    text-align: center;
}

nav a {
    color: rgb(121, 201, 8);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 600;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

h2 {
    color: rgb(62, 20, 0);
    margin-bottom: 0.5rem;
}

fieldset {
    font-family: cinzel, serif;
    border: 2px solid rgb(21, 74, 5);
    border-radius: 12px;
    margin-bottom: 1rem;
    padding: 1rem;
}